<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Formulário</title>
</head>
<body>
    <div class="container">
        <h1>Formulário de Avaliação</h1>
        <form method="POST" action="/">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required><br><br>

            <label for="turma">Turma:</label>
            <input type="text" id="turma" name="turma" required><br><br>

            <label for="professor">Professor:</label>
            <input type="text" id="professor" name="professor" required><br><br>

            <label for="data">Data:</label>
            <input type="date" id="data" name="data" required><br><br>

            <label>Foi difícil?</label><br>
            <input type="radio" id="sim" name="dificuldade" value="Sim" required>
            <label for="sim">Sim</label><br>
            <input type="radio" id="nao" name="dificuldade" value="Não" required>
            <label for="nao">Não</label><br><br>

            <label for="nota">Nota:</label>
            <input type="number" id="nota" name="nota" min="0" max="10" required><br><br>

           <center><input type="submit" value="Enviar"></center>
        </form>
    </div>
</body>
</html>